.navbar {
    background-color: #333;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    margin-left: 140px;
    margin-right: 270px;
}

/* Custom CSS for Navbar */
.navbar {
    background-color: #343a40; /* Set the background color for the navbar */
  }
  
  .navbar-brand {
    font-size: 24px; /* Set the font size for the navbar brand */
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px; /* Add margin between each nav item */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Set the color for the navbar links */
  }
  
  .navbar-toggler {
    border: none; /* Remove the border from the navbar toggler */
  }
  
  #searchBar input[type="search"] {
    width: 200px; /* Set the width for the search input field */
  }
  
  #searchBar .btn {
    margin-left: 10px; /* Add margin between the search input field and search button */
  }
